* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: #80FEFF;
    background: linear-gradient(90deg, rgba(128, 254, 255, 1) 0%, rgba(108, 227, 195, 1) 50%, rgba(87, 199, 133, 1) 100%);
}

main,
.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    text-align: center;
    width: 90vw;
    height: 60vh;
    padding: 16px;
}

.image-container img {
    text-align: center;
    object-fit: contain;
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
}

.image-container h1 {
    color: black;
    margin-bottom: 10px;
    width: 100vw;
}

.btn-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

button {
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    color: rgb(26, 23, 23);
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(252, 252, 68);
}

#breed {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .image-container h1 {
        font-size: 28px;
    }

    .image-container img {
        box-shadow: none;
        width: 80vw;
    }
}